---
layout: default
title: Home
---
{% assign page_category = site.data.category_list[page.category] %}

  {% include header-home.html %}
    <div class="container-full">
      <div class="container grid-xl">
        <div class="columns negative-m-s">
          <div class="column col-12 text-center">
            <h4 class="text-secondary">Our mission</h4>
          </div>

          <div class="column col-4 col-md-6 col-sm-12">
              <div class="card card-link">
                <a href="https://play.google.com/store/apps/details?id=org.sharethemeal.app">
                <div class="card-body text-center my-4">
                  <img style="max-width: 80px; border-radius: 50%;" src="assets/sharethemeal.webp"/>
                  <h5 class="text-bold">ShareTheMeal</h5>
                  <p class="m-0">Donate 25% of profits to ShareTheMeal, a solidarity app of the United Nations World Food Program that allows people to feed children in need</p>
                </div>
              </a>
              </div>
            </a>
          </div>

          <div class="column col-4 col-md-6 col-sm-12">
            <div class="card card-link">
              <div class="card-body text-center my-4">
                <a href="/prypton">
                <img style="max-width: 80px; border-radius: 50%;" src="assets/work.png"/>
                <h5 class="text-bold">Prypton</h5>
                <p class="m-0">Use another 25% for the development of Prypton and other softwares that help the cardano community</p>
              </div>
            </a>
            </div>
          </a>
        </div>

        <div class="column col-4 col-md-6 col-sm-12">
          <div class="card card-link">
            <div class="card-body text-center my-4">
              <img style="max-width: 80px; border-radius: 50%;" src="assets/cardano.png"/>
              <h5 class="text-bold">Cardano</h5>
              <p class="m-0">Support the decentralization of the Cardano blockchain</p>
            </div>
          </div>
        </a>
      </div>

          {% include more-help.html %}
        </div>
      </div>
    </div>