
<section class="container-full footer">
  <svg id="anglesvg" viewBox="0 0 1440 60" xmlns="http://www.w3.org/2000/svg"><path d="M720 60l720-60H0z" fill="#f5f6ff" /></svg>
  <div class="container grid-xl footer-contents mb-0">
    <div class="columns text-center">
      <div class="column col-12">
        <div class="footer-social my-4">
            <a href="https://t.me/orepool" target="_blank"><i class='uil uil-telegram'></i></a>
            <a href="https://github.com/orelvis15" target="_blank"><i class='uil uil-github'></i></a>
            <a href="https://www.linkedin.com/in/orelvis/"><i class='uil uil-linkedin' target="_blank"></i></a>
            <a href="mailto:orelvis15@gmail.com"><i class='uil uil-envelope' target="_blank"></i></a>
          </div>
        <p>© 20{{ site.time | date: '%y' }} All rights reserved.</p>
      </div>
    </div>
  </div>
</section>
