<div class="header-bg">
  <div class="container-full">
    <div class="header ">
      <header class="container grid-xl landing-header">
        <div class="columns pt-12 pb-8">
          <div class="column col-11 col-mx-auto text-center">
            <nav class="container grid-xl">
              <div class="text-center">
                <a style="width: 20%;" href="/">
                  <img style="max-width: 80px; border-radius: 50%;" src="assets/ore_pool.png"/>
                </a>
              </div>
              <div class="text-center show-sm">
                <a style="width: 100%;" href="/" >
                  <img style="max-width: 80px;" src="assets/ore_pool.png"/>
                </a>
              </div>
            </nav>
            <h1 class="mt-2 super-h1">{{ site.header }}</h1>
            <h4 class="text-secondary">{{ site.subheader }}</h4>
          </div>
        </div>
      </header>
    </div>
  </div>
</div>